{% extends "Identifica/base.html" %}
{% block conteudo %}

{% if object_list %}
    <div class="row">
    {% for individuo in object_list %}
       <div class="col-md-4  col-lg-4 col-sm-4">
       	{% if individuo.foto %}
        <img src="{{individuo.foto.url}}" class="img-responsive" alt={{individuo.id}} style="width: 200px; height: 200px;">
        {% endif %}
        <p>
          <p>{{individuo.nome}}</p>
       </div>
    
     
    
    {% endfor %}
     </div>
    
{% else %}
    <p>Não há Individuos Cadastrados</p>
{% endif %}

{% endblock %}

